* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #111111;
  background-image: url('../img/background.png');
}

span {
  color: white;
  padding: 10px;
}

table {
  width: 100%;
}

table th {
  background-color: rgba(255,255,255,.2)
}

div#preloaded-images {
  position: absolute;
  overflow: hidden;
  left: -9999px;
  top: -9999px;
  height: 1px;
  width: 1px;
}

.rows {
  display: flex;
  margin: auto;
  margin-top: 5vh;
  color: #bbbbbb;
  border: 5px solid #555555;
  background-color: rgba(0,0,0,.5);
  max-width: 1000px;
  flex-flow: row wrap;
}

.columns {
  display: flex;
  text-align: center;
}

/*Includes .board .statustop .statusbottom*/
.main {
  display: flex;
  flex-direction: column;
  flex: 1 100%;
}

.board {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

ul {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
}

.board > ul {
  align-content: stretch;
}

.board > ul > li {
  flex: 1 10%;
  padding: 1px;
}

.board > ul > li > button {
  outline: 0;
  background-image: radial-gradient(50% 80%, rgba(255,255,255,0.50) 20%, rgba(0,0,0,0.49) 100%),
                    linear-gradient(220deg, #000000 10%, #ffffff 100%);

  /*border: 2px solid #000000;*/
  border-radius: 100px;
  font-size: 30px;
  color: #000000;
  width: 100%;
  height: 65px;
}

.statustop {
  border: 2px solid #555555;
  margin: 0px 10px;
  background-color: rgba(55,55,55,.7);
}

.statustop > ul {
  justify-content: space-around;
}

.statusbottom {
  border: 2px solid #555555;
  margin: 10px;
  background-color: rgba(55,55,55,.7);
}

.statusbottom > ul {
  justify-content: space-around;
}

/*Includes .header and .payouts*/
.sidebar {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.sidebar p {
  font-size: 1.4em;
}

.header {
  flex: 1 auto;
  margin: 10px;
}

.header img {
  width: 100%;
}

.payouts {
  flex: 0 300px;
  margin: 10px;
  border: 2px solid #555555;
  background-color: rgba(55,55,55,.7);
}

/*Includes play buttons*/
.bottom {
  flex: 1 100%;
  /*margin: 0px 10px 10px 10px;*/
}

.bottom > ul > li {
  flex: 1 10%;
  height: 50px;
  padding: 0px 10px 10px 10px;
}

.bottom > ul > li > button {
  outline: 0;
  font-size: 18px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: .7;
  border-style: none;
  border-radius: 10px;
  transition: background-color .3s, opacity 1s;
}

.bottom > ul > li > button:hover {
  opacity: 1;
  background-color: #a5d1dc;
}

.blink {
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0%    { opacity: 1; }
  50%   { opacity: .5; }
  100%  {opacity: 1; }
}

@-webkit-keyframes blink {
  0%    { opacity: 1; }
  50%   { opacity: .5; }
  100%  {opacity: 1; }
}
