* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  background-color: #111111;
  color: #bbbbbb;
  background-image: url('../img/background.png');
}

span {
  color: white;
  padding-left: 0.5em;
}

table {
  width: 100%;
}

table th {
  background-color: rgba(255,255,255,.2)
}

ul {
  list-style: none;
}

div#preloaded-images {
  position: absolute;
  overflow: hidden;
  left: -9999px;
  top: -9999px;
  height: 1px;
  width: 1px;
}

.container {
  position: relative;
  display: inline-block;
  max-height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aspect {
  width: 100%;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 100%;
  border: 0.2em solid #555555;
}

.top {
  position: relative;
  width: 100%;
  height: 92%;
}

.top-container {
  position: relative;
  height: 100%;
  width: 100%;
}

/*Includes .board .statustop .statusbottom*/
.viewport {
  position: relative;
  display: inline-block;
  width: 66%;
  height: 100%;
}

.board {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em 0 1.5em;
  font-size: 1.8em;
  width: 100%;
  height: 88%;
  text-align: center;
}

.square {
  outline: 0;
  background-image: -webkit-radial-gradient(50% 80%, rgba(255,255,255,0.50) 20%, rgba(0,0,0,0.49) 100%),
                    -webkit-linear-gradient(230deg, #000000 10%, #ffffff 100%);
  background-image: -moz-radial-gradient(50% 80%, rgba(255,255,255,0.50) 20%, rgba(0,0,0,0.49) 100%),
                    -moz-linear-gradient(230deg, #000000 10%, #ffffff 100%);
  background-image: -o-radial-gradient(50% 80%, rgba(255,255,255,0.50) 20%, rgba(0,0,0,0.49) 100%),
                    -o-linear-gradient(230deg, #000000 10%, #ffffff 100%);
  background-image: radial-gradient(50% 80%, rgba(255,255,255,0.50) 20%, rgba(0,0,0,0.49) 100%),
                    linear-gradient(220deg, #000000 10%, #ffffff 100%);
  -webkit-border-radius: 2em;
     -moz-border-radius: 2em;
          border-radius: 2em;
  border-width: 0.13em;
  color: #000000;
  font-size: 1.25em;
  width: 10%;
  height: 12.5%;
}

.board > button:active {
  border-style: outset;
}

.status {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 0em 1.5em;
  font-size: 1.35em;
}

.statustop {
  width: 100%;
  margin-bottom: 0.5em;
  border: 0.1em solid #555555;
  background-color: rgba(55,55,55,.7);
}

.statustop > ul > li {
  display: inline-block;
  width: 24%;
}

.statusbottom {
  width: 100%;
  border: 0.1em solid #555555;
  background-color: rgba(55,55,55,.7);
}

.statusbottom > ul > li{
  display: inline-block;
  width: 32%;
}

/*Includes .header and .payouts*/
.sidebar {
  position: relative;
  display: inline-block;
  width: 31.5%;
  vertical-align: top;
  height: 100%;
  text-align: center;
}

.sidebar p {
  font-size: 1.4em;
}

.header {
  position: absolute;
  top: 0;
  height: 60%;
  width: 100%;
}

.header img {
  padding: 0em 2em;
  width: 100%;
}

.title {
  font-size: 2em;
  margin: 0.5em 0;
}


.payouts {
  position: absolute;
  vertical-align: top;
  font-size: 1.2em;
  left: 0;
  right: 0;
  bottom: 0;
  top: 60%;
  border: 0.1em solid #555555;
  background-color: rgba(55,55,55,.7);
}

/*Includes play buttons*/
.bottom {
  height: auto;
  width: 100%;
}

.bottom > ul {
  position: relative;
  text-align: center;
  width: 100%;
  height:100%;
  margin-top: .75em;
}

.bottom > ul > li {
  display: inline-block;
  width: 10.5em;
  font-size: 1.5em;
  opacity: .7;

}

.bottom > ul > li > a {
  display: block;
  color: black;
  padding: 0.35em 0;
  text-decoration: none;
  background-color: #ffffff;
  -webkit-border-radius: 0.5em;
     -moz-border-radius: 0.5em;
          border-radius: 0.5em;
  -webkit-transition: background-color .3s, opacity 1s;
  -o-transition: background-color .3s, opacity 1s;
  -moz-transition: background-color .3s, opacity 1s;
  transition: background-color .3s, opacity 1s;
}

.bottom > ul > li > a:hover {
  opacity: 1;
  background-color: #a5d1dc;
}

.selected {
  border-color: yellow;
}

.highlight {
  color: rgb(255,255,255);
}

.blink {
  -webkit-animation-name: blink;
     -moz-animation-name: blink;
       -o-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 2s;
     -moz-animation-duration: 2s;
       -o-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@-moz-keyframes blink {
  0%    { opacity: 1; }
  50%   { opacity: .5; }
  100%  {opacity: 1; }
}

@-o-keyframes blink {
  0%    { opacity: 1; }
  50%   { opacity: .5; }
  100%  {opacity: 1; }
}

@keyframes blink {
  0%    { opacity: 1; }
  50%   { opacity: .5; }
  100%  {opacity: 1; }
}

@-webkit-keyframes blink {
  0%    { opacity: 1; }
  50%   { opacity: .5; }
  100%  {opacity: 1; }
}
